In [88]:
import pandas as pd
import numpy as np

In [195]:
data = pd.read_csv("../../merged_dataset_ellie.csv")

In [196]:
data.sample(10)

,year,state,state_po,county,fips,fips_trimmed,republican_candidate,democrat_candidate,republican_votes,democrat_votes,county_totalvotes,winning candidate,winning party,avg_wage_salary
6664,2008,Florida,FL,Franklin,12037.0,2037.0,John McCain,Barack Obama,3818,2134,6029.0,John McCain,republican,0
1422,2000,Mississippi,MS,Clarke,28023.0,8023.0,George W. Bush,Al Gore,4503,2368,6919.0,George W. Bush,republican,0
4172,2004,Kentucky,KY,Bracken,21023.0,1023.0,George W. Bush,John Kerry,2363,1213,3610.0,George W. Bush,republican,24750
15076,2016,Tennessee,TN,Knox,47093.0,7093.0,Donald Trump,Hillary Clinton,105767,62878,180697.0,Donald Trump,republican,0
11569,2012,Ohio,OH,Knox,39083.0,9083.0,Mitt Romney,Barack Obama,17266,10470,28388.0,Mitt Romney,republican,0
10261,2012,Indiana,IN,Union,18161.0,8161.0,Mitt Romney,Barack Obama,2022,1018,3100.0,Mitt Romney,republican,0
10765,2012,Michigan,MI,Manistee,26101.0,6101.0,Mitt Romney,Barack Obama,5737,6473,12402.0,Barack Obama,democrat,34636
4336,2004,Louisiana,LA,Union,22111.0,2111.0,George W. Bush,John Kerry,7457,3089,10718.0,George W. Bush,republican,0
2179,2000,Oklahoma,OK,Kiowa,40075.0,75.0,George W. Bush,Al Gore,2173,1544,3750.0,George W. Bush,republican,0
14365,2016,New Hampshire,NH,Belknap,33001.0,3001.0,Donald Trump,Hillary Clinton,19315,13517,35045.0,Donald Trump,republican,42578

In [197]:
## some cleanup..

data.isnull().sum()

year                     0
state                    0
state_po                20
county                   0
fips                    15
fips_trimmed            15
republican_candidate     0
democrat_candidate       0
republican_votes         0
democrat_votes           0
county_totalvotes        0
winning candidate        0
winning party            0
avg_wage_salary          0
dtype: int64

In [198]:
data.dropna(inplace=True)

In [199]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15769 entries, 0 to 15787
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  15769 non-null  int64
 1   state                 15769 non-null  object
 2   state_po              15769 non-null  object
 3   county                15769 non-null  object
 4   fips                  15769 non-null  float64
 5   fips_trimmed          15769 non-null  float64
 6   republican_candidate  15769 non-null  object
 7   democrat_candidate    15769 non-null  object
 8   republican_votes      15769 non-null  int64
 9   democrat_votes        15769 non-null  int64
 10  county_totalvotes     15769 non-null  float64
 11  winning candidate     15769 non-null  object
 12  winning party         15769 non-null  object
 13  avg_wage_salary       15769 non-null  int64
dtypes: float64(3), int64(4), object(7)
memory usage: 1.8+ MB

# cleaning/wrangling...

In [200]:
data['state'] = data['state'].astype('category').cat.codes
data['state_po'] = data['state_po'].astype('category').cat.codes
data['county'] = data['county'].astype('category').cat.codes
data['winning party'] = data['winning party'].astype('category').cat.codes

In [201]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15769 entries, 0 to 15787
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  15769 non-null  int64
 1   state                 15769 non-null  int8
 2   state_po              15769 non-null  int8
 3   county                15769 non-null  int16
 4   fips                  15769 non-null  float64
 5   fips_trimmed          15769 non-null  float64
 6   republican_candidate  15769 non-null  object
 7   democrat_candidate    15769 non-null  object
 8   republican_votes      15769 non-null  int64
 9   democrat_votes        15769 non-null  int64
 10  county_totalvotes     15769 non-null  float64
 11  winning candidate     15769 non-null  object
 12  winning party         15769 non-null  int8
 13  avg_wage_salary       15769 non-null  int64
dtypes: float64(3), int16(1), int64(4), int8(3), object(3)
memory usage: 1.4+ MB

In [202]:
## create dummies to get rid of string values.
# winning_party_binary = pd.get_dummies(data['winning party'], drop_first=True)
# #now republican=1, democrat=0
# data = pd.concat([data, winning_party_binary], axis=1)

In [203]:
data.head(10)

,year,state,state_po,county,fips,fips_trimmed,republican_candidate,democrat_candidate,republican_votes,democrat_votes,county_totalvotes,winning candidate,winning party,avg_wage_salary
0,2000,1,0,479,2001.0,2001.0,George W. Bush,Al Gore,4681,1284,6656.0,George W. Bush,1,0
1,2000,1,0,490,2002.0,2002.0,George W. Bush,Al Gore,4235,2081,7388.0,George W. Bush,1,0
2,2000,1,0,501,2003.0,2003.0,George W. Bush,Al Gore,3135,3693,8225.0,Al Gore,0,0
3,2000,1,0,512,2004.0,2004.0,George W. Bush,Al Gore,4127,2715,7823.0,George W. Bush,1,0
4,2000,1,0,514,2005.0,2005.0,George W. Bush,Al Gore,3545,1931,6437.0,George W. Bush,1,0
5,2000,1,0,515,2006.0,2006.0,George W. Bush,Al Gore,3862,1542,6100.0,George W. Bush,1,0
6,2000,1,0,516,2007.0,2007.0,George W. Bush,Al Gore,4868,1893,8677.0,George W. Bush,1,0
7,2000,1,0,517,2008.0,2008.0,George W. Bush,Al Gore,5371,1498,7978.0,George W. Bush,1,0
8,2000,1,0,518,2009.0,2009.0,George W. Bush,Al Gore,4789,1203,6800.0,George W. Bush,1,0
9,2000,1,0,480,2010.0,2010.0,George W. Bush,Al Gore,5673,2194,8884.0,George W. Bush,1,0

In [204]:
data.drop(['winning candidate', 'republican_candidate', 'democrat_candidate'], axis=1, inplace=True)

In [205]:
from sklearn.model_selection import train_test_split

In [234]:
X=data.drop("winning party", axis=1)
y=data["winning party"]

In [235]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=11)

In [236]:
from sklearn.linear_model import LogisticRegression

In [237]:
model = LogisticRegression()

In [238]:
X_train

,year,state,state_po,county,fips,fips_trimmed,republican_votes,democrat_votes,county_totalvotes,avg_wage_salary
335,2000,9,9,194,12009.0,2009.0,115185,97318,218395.0,32594
2276,2000,38,38,439,42043.0,2043.0,53631,44390,100658.0,33472
10948,2012,24,25,1532,28127.0,8127.0,7424,4723,12249.0,0
13754,2016,18,18,1394,22081.0,2081.0,2391,1938,4422.0,75836
12566,2012,49,48,955,55067.0,5067.0,5816,4573,10519.0,32800
...,...,...,...,...,...,...,...,...,...,...
15713,2016,49,48,1722,55125.0,5125.0,8169,4770,13612.0,32835
7268,2008,16,16,1001,20109.0,109.0,1187,225,1440.0,0
5205,2004,34,28,1600,38093.0,8093.0,6517,3438,10122.0,26513
3780,2004,13,14,421,17035.0,7035.0,3497,1862,5416.0,186968
10150,2012,13,14,1297,17143.0,7143.0,36774,40209,78411.0,49313

In [239]:
y

0        1
1        1
2        0
3        1
4        1
        ..
15783    1
15784    0
15785    0
15786    0
15787    0
Name: winning party, Length: 15769, dtype: int8

In [240]:
model.fit(X_train, y_train)

/Users/eelrufaie/Library/Python/3.7/lib/python/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [241]:
predictions = model.predict(X_test)

In [242]:
from sklearn.metrics import accuracy_score

In [243]:
accuracy_score(y_test, predictions)

0.9993658845909955

In [244]:
from sklearn.metrics import confusion_matrix

In [268]:
confusion_matrix(y_test, predictions)

array([[ 978,    3],
       [   0, 3750]])