# Combining Data Notebook
Takes Ahana's final merged dataset and merge in midterm election data

In [2]:
# imports
import pandas as pd
import seaborn as sns

In [4]:
# load in Ahana's final merged dataset
# total_data = "https://raw.githubusercontent.com/ehuang13/w210-presidential-election/master/data/Totaldata_Jun_11.csv"
total_data = "https://raw.githubusercontent.com/ehuang13/w210-presidential-election/master/data/Totaldata_Jun_21.csv"
merged_df = pd.read_csv(total_data, encoding = "ISO-8859-1")

In [5]:
# checkout merged_df
print("Shape of full dataset: {}".format(merged_df.shape))
merged_df.sample(10)

Shape of full dataset: (18855, 64)

,Unnamed: 0,ID,AGEGRP,FIPS_x,YEAR,STATE,COUNTY,STNAME,CTYNAME,AA_FEMALE,...,NA_MALE%,WA_FEMALE%,WA_MALE%,TOT_FEMALE%,TOT_MALE%,TOT_POP_LESS19%,TOT_POP_20to39%,TOT_POP_40to59%,TOT_POP_Above60%,Unemployment_Rate
10893,10893,200031067,Total,31067,2000,31,67,Nebraska,Gage County,37,...,0.000304,0.505176,0.474687,0.515136,0.484864,0.267919,0.232820,0.262526,0.236735,3.0
15413,15413,200453041,Total,53041,2004,53,41,Washington,Lewis County,295,...,0.001052,0.479777,0.472814,0.503084,0.496916,0.279482,0.226558,0.285067,0.208893,8.5
99,99,20124007,Total,4007,2012,4,7,Arizona,Gila County,171,...,0.000504,0.413433,0.409270,0.502735,0.497265,0.235837,0.175991,0.271080,0.317093,10.2
5372,5372,201637049,Total,37049,2016,37,49,North Carolina,Craven County,1453,...,0.001009,0.350007,0.371577,0.492650,0.507350,0.249957,0.297767,0.225033,0.227243,5.2
15909,15909,200813121,Total,13121,2008,13,121,Georgia,Fulton County,21640,...,0.000319,0.240472,0.248466,0.511505,0.488495,0.273330,0.325806,0.276464,0.124399,6.4
12048,12048,20005015,Total,5015,2000,5,15,Arkansas,Carroll County,70,...,0.000395,0.492208,0.481278,0.506648,0.493352,0.266798,0.242178,0.279306,0.211718,3.9
15684,15684,20048087,Total,8087,2004,8,87,Colorado,Morgan County,40,...,0.001370,0.483595,0.479738,0.501298,0.498702,0.323334,0.252380,0.253497,0.170789,4.5
11112,11112,200037033,Total,37033,2000,37,33,North Carolina,Caswell County,21,...,0.000256,0.307873,0.315370,0.493738,0.506262,0.254750,0.274133,0.291897,0.179220,3.7
16491,16491,200821051,Total,21051,2008,21,51,Kentucky,Clay County,13,...,0.000179,0.453609,0.491134,0.464177,0.535823,0.255732,0.290525,0.286674,0.167070,10.4
2197,2197,201229165,Total,29165,2012,29,165,Missouri,Platte County,1142,...,0.001538,0.449231,0.435195,0.507625,0.492375,0.269788,0.254136,0.306165,0.169911,5.5

In [6]:
# see all columns in merged dataframe
print(merged_df.columns)

Index(['Unnamed: 0', 'ID', 'AGEGRP', 'FIPS_x', 'YEAR', 'STATE', 'COUNTY',
       'STNAME', 'CTYNAME', 'AA_FEMALE', 'AA_MALE', 'BA_FEMALE', 'BA_MALE',
       'H_FEMALE', 'H_MALE', 'IA_FEMALE', 'IA_MALE', 'NA_FEMALE', 'NA_MALE',
       'SUMLEV', 'TOT_FEMALE', 'TOT_MALE', 'TOT_POP', 'WA_FEMALE', 'WA_MALE',
       'TOT_POP_LESS19', 'TOT_MALE_LESS19', 'TOT_FEMALE_LESS19',
       'TOT_POP_20to39', 'TOT_MALE_20to39', 'TOT_FEMALE_20to39',
       'TOT_POP_40to59', 'TOT_MALE_40to59', 'TOT_FEMALE_40to59',
       'TOT_POP_Above60', 'TOT_MALE_Above60', 'TOT_FEMALE_Above60',
       'republican_candidate', 'democrat_candidate', 'republican_votes',
       'democrat_votes', 'county_totalvotes', 'winning candidate',
       'winning party', 'avg_wage_salary', 'AA_FEMALE%', 'AA_MALE%',
       'BA_FEMALE%', 'BA_MALE%', 'H_FEMALE%', 'H_MALE%', 'IA_FEMALE%',
       'IA_MALE%', 'NA_FEMALE%', 'NA_MALE%', 'WA_FEMALE%', 'WA_MALE%',
       'TOT_FEMALE%', 'TOT_MALE%', 'TOT_POP_LESS19%', 'TOT_POP_20to39%',
       'TOT_POP_40to59%', 'TOT_POP_Above60%', 'Unemployment_Rate'],
      dtype='object')

In [7]:
# see how many nulls there are within dataframe
merged_df.isnull().sum()

Unnamed: 0                 0
ID                         0
AGEGRP                     0
FIPS_x                     0
YEAR                       0
STATE                      0
COUNTY                     0
STNAME                     0
CTYNAME                    0
AA_FEMALE                  0
AA_MALE                    0
BA_FEMALE                  0
BA_MALE                    0
H_FEMALE                   0
H_MALE                     0
IA_FEMALE                  0
IA_MALE                    0
NA_FEMALE                  0
NA_MALE                    0
SUMLEV                     0
TOT_FEMALE                 0
TOT_MALE                   0
TOT_POP                    0
WA_FEMALE                  0
WA_MALE                    0
TOT_POP_LESS19             0
TOT_MALE_LESS19            0
TOT_FEMALE_LESS19          0
TOT_POP_20to39             0
TOT_MALE_20to39            0
                        ...
TOT_POP_Above60            0
TOT_MALE_Above60           0
TOT_FEMALE_Above60         0
republican_candidate    3280
democrat_candidate      3280
republican_votes        3280
democrat_votes          3280
county_totalvotes       3280
winning candidate       3280
winning party           3280
avg_wage_salary         3280
AA_FEMALE%                 0
AA_MALE%                   0
BA_FEMALE%                 0
BA_MALE%                   0
H_FEMALE%                  0
H_MALE%                    0
IA_FEMALE%                 0
IA_MALE%                   0
NA_FEMALE%                 0
NA_MALE%                   0
WA_FEMALE%                 0
WA_MALE%                   0
TOT_FEMALE%                0
TOT_MALE%                  0
TOT_POP_LESS19%            0
TOT_POP_20to39%            0
TOT_POP_40to59%            0
TOT_POP_Above60%           0
Unemployment_Rate       3171
Length: 64, dtype: int64

### One hot encode "winning party" column to binary feature
* republican = 1
* democrat = 0

In [8]:
winning_party_binary = pd.get_dummies(merged_df["winning party"], drop_first = True)
merged_df["winning_party_binary"] = winning_party_binary

In [9]:
merged_df.sample(10)

,Unnamed: 0,ID,AGEGRP,FIPS_x,YEAR,STATE,COUNTY,STNAME,CTYNAME,AA_FEMALE,...,WA_FEMALE%,WA_MALE%,TOT_FEMALE%,TOT_MALE%,TOT_POP_LESS19%,TOT_POP_20to39%,TOT_POP_40to59%,TOT_POP_Above60%,Unemployment_Rate,winning_party_binary
488,488,20165123,Total,5123,2016,5,123,Arkansas,St. Francis County,66,...,0.187888,0.254133,0.452982,0.547018,0.245497,0.286906,0.266755,0.200841,5.2,0
14199,14199,200436045,Total,36045,2004,36,45,New York,Jefferson County,641,...,0.445223,0.457722,0.483891,0.516109,0.285407,0.315104,0.248091,0.151398,6.9,1
15866,15866,200813033,Total,13033,2008,13,33,Georgia,Burke County,44,...,0.241990,0.244472,0.521809,0.478191,0.326006,0.239117,0.273028,0.161849,8.7,0
725,725,20202275,Total,2275,2020,2,275,Alaska,Wrangell City and Borough,41,...,0.330004,0.361566,0.482221,0.517779,0.219337,0.203755,0.253296,0.323612,NaN,0
9150,9150,202051095,Total,51095,2020,51,95,Virginia,James City County,1173,...,0.414336,0.388667,0.516722,0.483278,0.220938,0.206134,0.250298,0.322630,NaN,0
4359,4359,201620027,Total,20027,2016,20,27,Kansas,Clay County,22,...,0.489641,0.478559,0.504939,0.495061,0.256083,0.213202,0.247892,0.282823,4.1,1
5309,5309,201636047,Total,36047,2016,36,47,New York,Kings County,159360,...,0.251873,0.243200,0.526760,0.473240,0.254099,0.323979,0.245852,0.176070,5.3,0
7666,7666,202027137,Total,27137,2020,27,137,Minnesota,St. Louis County,1249,...,0.460551,0.462188,0.497968,0.502032,0.225482,0.266493,0.236746,0.271279,NaN,0
5653,5653,201640129,Total,40129,2016,40,129,Oklahoma,Roger Mills County,11,...,0.450266,0.449202,0.502926,0.497074,0.276862,0.222872,0.248138,0.252128,5.1,1
4630,4630,201622119,Total,22119,2016,22,119,Louisiana,Webster Parish,93,...,0.322377,0.314061,0.512537,0.487463,0.254506,0.240579,0.261258,0.243657,8.5,1

In [10]:
merged_df[["winning party", "winning_party_binary"]].sample(10)

      winning party  winning_party_binary
2881     republican                     1
14197    republican                     1
2525       democrat                     0
3110     republican                     1
13491    republican                     1
18328    republican                     1
11998    republican                     1
4143     republican                     1
5585     republican                     1
7949            NaN                     0

### Load and merge senate and house election datasets

In [11]:
# load senate and house datasets
senate = "https://raw.githubusercontent.com/ehuang13/w210-presidential-election/master/data/senate.csv"
house = "https://raw.githubusercontent.com/ehuang13/w210-presidential-election/master/data/house.csv"

senate_df = pd.read_csv(senate, encoding = "ISO-8859-1")
house_df = pd.read_csv(house, encoding = "ISO-8859-1")

### Clean up senate election data

In [12]:
# check out senate election dataset
print("Senate data dimensions: {}".format(senate_df.shape))
senate_df.sample(5)

Senate data dimensions: (3421, 18)

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
597,1984,Minnesota,MN,27,41,33,US Senate,statewide,gen,False,Rudy Boschwitz,republican,False,total,1199926,2066143,False,20171011.0
2022,2004,Iowa,IA,19,42,31,US Senate,statewide,gen,False,Christy Ann Welty,libertarian,False,total,15218,1479228,False,20171011.0
374,1980,Oregon,OR,41,92,72,US Senate,statewide,gen,False,NaN,NaN,True,total,555,1140494,False,20171011.0
1763,2000,Pennsylvania,PA,42,23,14,US Senate,statewide,gen,False,Ron Klink,democrat,False,total,2154908,4735116,False,20171011.0
2010,2004,Idaho,ID,16,82,63,US Senate,statewide,gen,False,NaN,NaN,True,total,4136,503932,False,20171011.0

In [13]:
# keep only election years data for senate and house elections
election_years = [2000, 2004, 2008, 2012, 2016]

senate_df = senate_df[senate_df["year"].isin(election_years)]
print("Senate data dimensions: {}".format(senate_df.shape))

Senate data dimensions: (904, 18)

In [14]:
senate_df.head(10)

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
1631,2000,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,William Toel,independent,False,total,109230,1397076,False,20171011.0
1632,2000,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Vance Hansen,green,False,total,108926,1397076,False,20171011.0
1633,2000,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Jon Kyl,republican,False,total,1108196,1397076,False,20171011.0
1634,2000,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Barry J. Hess II,libertarian,False,total,70724,1397076,False,20171011.0
1635,2000,California,CA,6,93,71,US Senate,statewide,gen,False,"Jose Luis ""Joe"" Camahort",reform,False,total,96552,10623608,False,20171011.0
1636,2000,California,CA,6,93,71,US Senate,statewide,gen,False,Medea Susan Benjamin,green,False,total,326828,10623608,False,20171011.0
1637,2000,California,CA,6,93,71,US Senate,statewide,gen,False,Tom Campbell,republican,False,total,3886853,10623608,False,20171011.0
1638,2000,California,CA,6,93,71,US Senate,statewide,gen,False,Dianne Feinstein,democrat,False,total,5932522,10623608,False,20171011.0
1639,2000,California,CA,6,93,71,US Senate,statewide,gen,False,Brian M. Rees,natural law,False,total,58537,10623608,False,20171011.0
1640,2000,California,CA,6,93,71,US Senate,statewide,gen,False,Diane Beall Templin,american independent,False,total,134598,10623608,False,20171011.0

In [15]:
# for each senate election in the state, find the winning party

# group each election by year, state, and party
senate_modified = senate_df.groupby(["year", "state", "state_fips", "party"])["party", "candidatevotes"].max().reset_index()

# sort candidate votes by descending to find the candidates with the most votes
senate_modified = senate_modified.sort_values(by=["year", "state", "state_fips", "candidatevotes"], ascending=False)

# get the party with the most votes by election year and state
senate_modified = senate_modified.groupby(["year", "state", "state_fips"]).first().reset_index()

In [16]:
# check out modified senate dataset
senate_modified.head(5)

   year        state  state_fips       party  candidatevotes
0  2000      Arizona           4  republican         1108196
1  2000   California           6    democrat         5932522
2  2000  Connecticut           9    democrat          828902
3  2000     Delaware          10    democrat          181566
4  2000      Florida          12    democrat         2989487

In [17]:
# need to recode winning party to republican or democrat
senate_modified["party"].unique()

array(['republican', 'democrat', 'democrat (not identified on ballot)',
       'democratic-farmer-labor', 'democratic-nonpartisan league',
       'independent for Maine', 'independent'], dtype=object)

In [18]:
# code other democratic affiliated parties to democrat
senate_modified = senate_modified.replace(["democrat (not identified on ballot)", "democratic-farmer-labor", 
                                            "democratic-nonpartisan league"], "democrat")

# code indepdent affiliated parties to independent
senate_modified = senate_modified.replace("independent for Maine", "independent")

# filter out independent party elections
senate_modified = senate_modified[senate_modified.party != "independent"]

In [19]:
# verify only republican and democrat winning elections remain
senate_modified["party"].unique()

array(['republican', 'democrat'], dtype=object)

In [20]:
# create one hot encoded column for winning party
senate_binary = pd.get_dummies(senate_modified["party"], drop_first = True)
senate_modified["senate_winning_party"] = senate_binary

In [21]:
print("Modified senate dataset dimensions: {}".format(senate_modified.shape))
senate_modified.head(5)

Modified senate dataset dimensions: (166, 6)

,year,state,state_fips,party,candidatevotes,senate_winning_party
0,2000,Arizona,4,republican,1108196,1
1,2000,California,6,democrat,5932522,0
2,2000,Connecticut,9,democrat,828902,0
3,2000,Delaware,10,democrat,181566,0
4,2000,Florida,12,democrat,2989487,0

### Clean up house election data

In [22]:
# checkout house election dataset
print("House data dimensions: {}".format(house_df.shape))
house_df.head(10)

House data dimensions: (29636, 19)

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,runoff,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Bill Davenport,democrat,False,total,58906,157170,False,20200424
1,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,Jack Edwards,republican,False,total,98257,157170,False,20200424
2,1976,Alabama,AL,1,63,41,US House,1,gen,False,False,NaN,NaN,True,total,7,157170,False,20200424
3,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,J. Carole Keahey,democrat,False,total,66288,156362,False,20200424
4,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,NaN,NaN,True,total,5,156362,False,20200424
5,1976,Alabama,AL,1,63,41,US House,2,gen,False,False,"William L. """"Bill"""" Dickinson",republican,False,total,90069,156362,False,20200424
6,1976,Alabama,AL,1,63,41,US House,3,gen,False,False,Bill Nichols,democrat,False,total,106935,108048,False,20200424
7,1976,Alabama,AL,1,63,41,US House,3,gen,False,False,NaN,NaN,True,total,2,108048,False,20200424
8,1976,Alabama,AL,1,63,41,US House,3,gen,False,False,Ogburn Gardner,prohibition,False,total,1111,108048,False,20200424
9,1976,Alabama,AL,1,63,41,US House,4,gen,False,False,Tom Bevill,democrat,False,total,141490,176022,False,20200424

In [23]:
# filter for only election years data for senate and house elections
house_df = house_df[house_df["year"].isin(election_years)]
print("House data dimensions: {}".format(house_df.shape))

House data dimensions: (7196, 19)

In [24]:
# house election dataset seems to be structured similarly to senate election dataset
house_modified = house_df.groupby(["year", "state", "state_fips", "party"])["party", "candidatevotes"].max().reset_index()

# sort candidate votes by descending to find the candidates with the most votes
house_modified = house_modified.sort_values(by=["year", "state", "state_fips", "candidatevotes"], ascending=False)

# get the party with the most votes by election year and state
house_modified = house_modified.groupby(["year", "state", "state_fips"]).first().reset_index()

In [25]:
house_modified.head(5)

   year       state  state_fips       party  candidatevotes
0  2000     Alabama           1  republican          212751
1  2000      Alaska           2  republican          190862
2  2000     Arizona           4  republican          198367
3  2000    Arkansas           5    democrat          126957
4  2000  California           6  republican          197503

In [26]:
# need to recode winning party to republican or democrat
house_modified["party"].unique()

array(['republican', 'democrat', 'independent', 'democratic-farmer-labor'],
      dtype=object)

In [27]:
# code other democratic affiliated parties to democrat
house_modified = house_modified.replace("democratic-farmer-labor", "democrat")

# filter out independent party elections
house_modified = house_modified[house_modified.party != "independent"]

In [28]:
# verify only republican and democrat winning elections remain
house_modified["party"].unique()

array(['republican', 'democrat'], dtype=object)

In [29]:
# create one hot encoded column for winning party
house_binary = pd.get_dummies(house_modified["party"], drop_first = True)
house_modified["house_winning_party"] = house_binary

In [30]:
print("Modified house dataset dimensions: {}".format(house_modified.shape))
house_modified.head(10)

Modified house dataset dimensions: (248, 6)

,year,state,state_fips,party,candidatevotes,house_winning_party
0,2000,Alabama,1,republican,212751,1
1,2000,Alaska,2,republican,190862,1
2,2000,Arizona,4,republican,198367,1
3,2000,Arkansas,5,democrat,126957,0
4,2000,California,6,republican,197503,1
5,2000,Colorado,8,republican,253330,1
6,2000,Connecticut,9,democrat,156910,0
7,2000,Delaware,10,republican,211797,1
8,2000,Florida,12,republican,242614,1
9,2000,Georgia,13,republican,256595,1

### Merge senate and house election dataset

In [31]:
# merged house and seanate datsets
house_senate_merged = pd.merge(house_modified[["year", "state", "state_fips", "house_winning_party"]],
                               senate_modified[["year", "state", "state_fips", "senate_winning_party"]],
                               how="left", left_on=["year", "state_fips"], right_on=["year", "state_fips"])

In [32]:
# chec out nerged dataset
house_senate_merged.head()

,year,state_x,state_fips,house_winning_party,state_y,senate_winning_party
0,2000,Alabama,1,1,NaN,NaN
1,2000,Alaska,2,1,NaN,NaN
2,2000,Arizona,4,1,Arizona,1.0
3,2000,Arkansas,5,0,NaN,NaN
4,2000,California,6,1,California,0.0

In [48]:
# checkout number of nulls in each column
house_senate_merged.isnull().sum()

year                     0
state_x                  0
state_fips               0
house_winning_party      0
state_y                 84
senate_winning_party     0
dtype: int64

In [33]:
# verify data types
house_senate_merged.dtypes

year                      int64
state_x                  object
state_fips                int64
house_winning_party       uint8
state_y                  object
senate_winning_party    float64
dtype: object

In [45]:
# impute null values in senate_winning_party to 2
house_senate_merged["senate_winning_party"] = house_senate_merged["senate_winning_party"].fillna(2)

# cast senate winning party to int data type
house_senate_merged["senate_winning_party"] = house_senate_merged["senate_winning_party"].astype("uint8")

In [46]:
# confirm datatypes are recasted
house_senate_merged.dtypes

year                     int64
state_x                 object
state_fips               int64
house_winning_party      uint8
state_y                 object
senate_winning_party     uint8
dtype: object

### Merge senate and house election dataset to Ahana's total dataset

In [50]:
# verify dataset dimensions before merge
print("Ahana's dataset dimensions: {}".format(merged_df.shape))

Ahana's dataset dimensions: (18855, 65)

In [51]:
# merge dataframes on election year and state fips code
combined_df = pd.merge(merged_df, house_senate_merged, how="left", 
                       left_on=["YEAR", "STATE"], right_on=["year", "state_fips"])

In [52]:
print("Combined dataset dimensions: {}".format(combined_df.shape))
combined_df.head()

Combined dataset dimensions: (18855, 71)

,Unnamed: 0,ID,AGEGRP,FIPS_x,YEAR,STATE,COUNTY,STNAME,CTYNAME,AA_FEMALE,...,TOT_POP_40to59%,TOT_POP_Above60%,Unemployment_Rate,winning_party_binary,year,state_x,state_fips,house_winning_party,state_y,senate_winning_party
0,0,20121001,Total,1001,2012,1,1,Alabama,Autauga County,296,...,0.282427,0.171659,6.9,1,2012.0,Alabama,1.0,0.0,NaN,2.0
1,1,20121003,Total,1003,2012,1,3,Alabama,Baldwin County,833,...,0.282293,0.234071,7.5,1,2012.0,Alabama,1.0,0.0,NaN,2.0
2,2,20121005,Total,1005,2012,1,5,Alabama,Barbour County,59,...,0.278741,0.208233,11.5,0,2012.0,Alabama,1.0,0.0,NaN,2.0
3,3,20121007,Total,1007,2012,1,7,Alabama,Bibb County,10,...,0.280955,0.187128,8.5,1,2012.0,Alabama,1.0,0.0,NaN,2.0
4,4,20121009,Total,1009,2012,1,9,Alabama,Blount County,82,...,0.276594,0.210691,6.9,1,2012.0,Alabama,1.0,0.0,NaN,2.0

In [53]:
combined_df.columns

Index(['Unnamed: 0', 'ID', 'AGEGRP', 'FIPS_x', 'YEAR', 'STATE', 'COUNTY',
       'STNAME', 'CTYNAME', 'AA_FEMALE', 'AA_MALE', 'BA_FEMALE', 'BA_MALE',
       'H_FEMALE', 'H_MALE', 'IA_FEMALE', 'IA_MALE', 'NA_FEMALE', 'NA_MALE',
       'SUMLEV', 'TOT_FEMALE', 'TOT_MALE', 'TOT_POP', 'WA_FEMALE', 'WA_MALE',
       'TOT_POP_LESS19', 'TOT_MALE_LESS19', 'TOT_FEMALE_LESS19',
       'TOT_POP_20to39', 'TOT_MALE_20to39', 'TOT_FEMALE_20to39',
       'TOT_POP_40to59', 'TOT_MALE_40to59', 'TOT_FEMALE_40to59',
       'TOT_POP_Above60', 'TOT_MALE_Above60', 'TOT_FEMALE_Above60',
       'republican_candidate', 'democrat_candidate', 'republican_votes',
       'democrat_votes', 'county_totalvotes', 'winning candidate',
       'winning party', 'avg_wage_salary', 'AA_FEMALE%', 'AA_MALE%',
       'BA_FEMALE%', 'BA_MALE%', 'H_FEMALE%', 'H_MALE%', 'IA_FEMALE%',
       'IA_MALE%', 'NA_FEMALE%', 'NA_MALE%', 'WA_FEMALE%', 'WA_MALE%',
       'TOT_FEMALE%', 'TOT_MALE%', 'TOT_POP_LESS19%', 'TOT_POP_20to39%',
       'TOT_POP_40to59%', 'TOT_POP_Above60%', 'Unemployment_Rate',
       'winning_party_binary', 'year', 'state_x', 'state_fips',
       'house_winning_party', 'state_y', 'senate_winning_party'],
      dtype='object')

In [54]:
# drop unnecessary columns
dropCombinedCols = ["AGEGRP", "FIPS_x", "year", "state_x", "state_fips", "state_y"]
combined_df = combined_df.drop(columns = dropCombinedCols)

In [56]:
combined_df.head()

,Unnamed: 0,ID,YEAR,STATE,COUNTY,STNAME,CTYNAME,AA_FEMALE,AA_MALE,BA_FEMALE,...,TOT_FEMALE%,TOT_MALE%,TOT_POP_LESS19%,TOT_POP_20to39%,TOT_POP_40to59%,TOT_POP_Above60%,Unemployment_Rate,winning_party_binary,house_winning_party,senate_winning_party
0,0,20121001,2012,1,1,Alabama,Autauga County,296,201,5152,...,0.512912,0.487088,0.293056,0.252858,0.282427,0.171659,6.9,1,0.0,2.0
1,1,20121003,2012,1,3,Alabama,Baldwin County,833,551,8913,...,0.510581,0.489419,0.253453,0.230183,0.282293,0.234071,7.5,1,0.0,2.0
2,2,20121005,2012,1,5,Alabama,Barbour County,59,59,6111,...,0.469301,0.530699,0.242225,0.270801,0.278741,0.208233,11.5,0,0.0,2.0
3,3,20121007,2012,1,7,Alabama,Bibb County,10,12,1972,...,0.463799,0.536201,0.248820,0.283097,0.280955,0.187128,8.5,1,0.0,2.0
4,4,20121009,2012,1,9,Alabama,Blount County,82,48,390,...,0.505255,0.494745,0.271033,0.241682,0.276594,0.210691,6.9,1,0.0,2.0

In [57]:
# rename columns
renameCombinedCols = ['Unnamed: 0', 'ID', 'YEAR', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'AA_FEMALE', 'AA_MALE', 'BA_FEMALE', 'BA_MALE', 'H_FEMALE', 'H_MALE',
       'IA_FEMALE', 'IA_MALE', 'NA_FEMALE', 'NA_MALE', 'SUMLEV', 'TOT_FEMALE',
       'TOT_MALE', 'TOT_POP', 'WA_FEMALE', 'WA_MALE', 'TOT_POP_LESS19',
       'TOT_MALE_LESS19', 'TOT_FEMALE_LESS19', 'TOT_POP_20to39',
       'TOT_MALE_20to39', 'TOT_FEMALE_20to39', 'TOT_POP_40to59',
       'TOT_MALE_40to59', 'TOT_FEMALE_40to59', 'TOT_POP_Above60',
       'TOT_MALE_Above60', 'TOT_FEMALE_Above60', 'REP_CANDIDATE',
       'DEM_CANDIDATE', 'REP_VOTES', 'DEM_VOTES',
       'COUNTY_TOTALVOTES', 'WINNING_CANDIDATE', 'WINNING_PARTY',
       'AVG_WAGE_SALARY', 'AA_FEMALE%', 'AA_MALE%', 'BA_FEMALE%', 'BA_MALE%',
       'H_FEMALE%', 'H_MALE%', 'IA_FEMALE%', 'IA_MALE%', 'NA_FEMALE%',
       'NA_MALE%', 'WA_FEMALE%', 'WA_MALE%', 'TOT_FEMALE%', 'TOT_MALE%',
       'TOT_POP_LESS19%', 'TOT_POP_20to39%', 'TOT_POP_40to59%',
       'TOT_POP_Above60%', 'UNEMPLOYMENT_RATE', 'WINNING_PARTY_BINARY',
       'HOUSE_WINNING_BINARY', 'SENATE_WINNING_BINARY']

combined_df.columns = renameCombinedCols

# reorder columns
combined_df = combined_df[['Unnamed: 0', 'ID', 'YEAR', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
                           'REP_CANDIDATE', 'DEM_CANDIDATE', 'REP_VOTES', 'DEM_VOTES', 'WINNING_PARTY', 
                           'WINNING_PARTY_BINARY', 'HOUSE_WINNING_BINARY', 'SENATE_WINNING_BINARY', 'COUNTY_TOTALVOTES', 
                           'WINNING_CANDIDATE',  'AVG_WAGE_SALARY', 'UNEMPLOYMENT_RATE', 'AA_FEMALE', 'AA_MALE', 
                           'BA_FEMALE', 'BA_MALE', 'H_FEMALE', 'H_MALE', 'IA_FEMALE', 'IA_MALE', 'NA_FEMALE', 
                           'NA_MALE', 'SUMLEV', 'TOT_FEMALE', 'TOT_MALE', 'TOT_POP', 'WA_FEMALE', 'WA_MALE', 
                           'TOT_POP_LESS19', 'TOT_MALE_LESS19', 'TOT_FEMALE_LESS19', 'TOT_POP_20to39', 'TOT_MALE_20to39', 
                           'TOT_FEMALE_20to39', 'TOT_POP_40to59', 'TOT_MALE_40to59', 'TOT_FEMALE_40to59', 'TOT_POP_Above60',
                           'TOT_MALE_Above60', 'TOT_FEMALE_Above60', 'AA_FEMALE%', 'AA_MALE%', 'BA_FEMALE%', 'BA_MALE%',
                           'H_FEMALE%', 'H_MALE%', 'IA_FEMALE%', 'IA_MALE%', 'NA_FEMALE%', 'NA_MALE%', 'WA_FEMALE%', 
                           'WA_MALE%', 'TOT_FEMALE%', 'TOT_MALE%', 'TOT_POP_LESS19%', 'TOT_POP_20to39%', 'TOT_POP_40to59%',
                           'TOT_POP_Above60%']]

In [58]:
# check out final combined dataset
combined_df.head()

,Unnamed: 0,ID,YEAR,STATE,COUNTY,STNAME,CTYNAME,REP_CANDIDATE,DEM_CANDIDATE,REP_VOTES,...,NA_FEMALE%,NA_MALE%,WA_FEMALE%,WA_MALE%,TOT_FEMALE%,TOT_MALE%,TOT_POP_LESS19%,TOT_POP_20to39%,TOT_POP_40to59%,TOT_POP_Above60%
0,0,20121001,2012,1,1,Alabama,Autauga County,Mitt Romney,Barack Obama,17379.0,...,0.000310,0.000511,0.402747,0.390054,0.512912,0.487088,0.293056,0.252858,0.282427,0.171659
1,1,20121003,2012,1,3,Alabama,Baldwin County,Mitt Romney,Barack Obama,66016.0,...,0.000300,0.000399,0.446461,0.429892,0.510581,0.489419,0.253453,0.230183,0.282293,0.234071
2,2,20121005,2012,1,5,Alabama,Barbour County,Mitt Romney,Barack Obama,5550.0,...,0.000622,0.001061,0.237175,0.271277,0.469301,0.530699,0.242225,0.270801,0.278741,0.208233
3,3,20121007,2012,1,7,Alabama,Bibb County,Mitt Romney,Barack Obama,6132.0,...,0.000219,0.001137,0.371240,0.394981,0.463799,0.536201,0.248820,0.283097,0.280955,0.187128
4,4,20121009,2012,1,9,Alabama,Blount County,Mitt Romney,Barack Obama,20757.0,...,0.000436,0.000627,0.487947,0.477838,0.505255,0.494745,0.271033,0.241682,0.276594,0.210691

In [68]:
# impute null values in binary columns to 2
combined_df[["HOUSE_WINNING_BINARY", "SENATE_WINNING_BINARY"]] = combined_df[["HOUSE_WINNING_BINARY", "SENATE_WINNING_BINARY"]].fillna(2)

# cast binary columns to int data type
combined_df[["HOUSE_WINNING_BINARY", "SENATE_WINNING_BINARY"]] = combined_df[["HOUSE_WINNING_BINARY", "SENATE_WINNING_BINARY"]].astype("uint8")

In [69]:
# confirme dtypes have been recast
combined_df.dtypes

Unnamed: 0                 int64
ID                         int64
YEAR                       int64
STATE                      int64
COUNTY                     int64
STNAME                    object
CTYNAME                   object
REP_CANDIDATE             object
DEM_CANDIDATE             object
REP_VOTES                float64
DEM_VOTES                float64
WINNING_PARTY             object
WINNING_PARTY_BINARY       uint8
HOUSE_WINNING_BINARY       uint8
SENATE_WINNING_BINARY      uint8
COUNTY_TOTALVOTES        float64
WINNING_CANDIDATE         object
AVG_WAGE_SALARY          float64
UNEMPLOYMENT_RATE        float64
AA_FEMALE                  int64
AA_MALE                    int64
BA_FEMALE                  int64
BA_MALE                    int64
H_FEMALE                   int64
H_MALE                     int64
IA_FEMALE                  int64
IA_MALE                    int64
NA_FEMALE                  int64
NA_MALE                    int64
SUMLEV                     int64
                          ...
TOT_POP_LESS19             int64
TOT_MALE_LESS19            int64
TOT_FEMALE_LESS19          int64
TOT_POP_20to39             int64
TOT_MALE_20to39            int64
TOT_FEMALE_20to39          int64
TOT_POP_40to59             int64
TOT_MALE_40to59            int64
TOT_FEMALE_40to59          int64
TOT_POP_Above60            int64
TOT_MALE_Above60           int64
TOT_FEMALE_Above60         int64
AA_FEMALE%               float64
AA_MALE%                 float64
BA_FEMALE%               float64
BA_MALE%                 float64
H_FEMALE%                float64
H_MALE%                  float64
IA_FEMALE%               float64
IA_MALE%                 float64
NA_FEMALE%               float64
NA_MALE%                 float64
WA_FEMALE%               float64
WA_MALE%                 float64
TOT_FEMALE%              float64
TOT_MALE%                float64
TOT_POP_LESS19%          float64
TOT_POP_20to39%          float64
TOT_POP_40to59%          float64
TOT_POP_Above60%         float64
Length: 65, dtype: object

### Save one hot encoded dataframe to csv file

In [70]:
# output one hot encoded dataframe with null values to csv file
# combined_df.to_csv("combined_jun13.csv")
combined_df.to_csv("combined_jun21.csv")